<a href="https://colab.research.google.com/github/divshacker1010/kaggle-Submissions/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('/content/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [ ]:
import re
def extract_title(name):
  title_search = re.search(r'(\bMr\.|\bMrs\.|\bMiss\.|\bMaster\.|\bCol\.|\bDr\.|\bMs\.|\bMlle\.|\bMajor\.|\bRev\.|\bCapt\.|\bMme\.|\bCountess\.|\bDon\.|\bJonkheer\.|\bSir\.|\bLady\.)',name)
  if title_search:
    return title_search.group(0)
  else:
    return None

df['Title'] = df['Name'].apply(extract_title)

In [ ]:
df['Title']

0        Mr.
1       Mrs.
2      Miss.
3       Mrs.
4        Mr.
       ...
886     Rev.
887    Miss.
888    Miss.
889      Mr.
890      Mr.
Name: Title, Length: 891, dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
 12  Title        891 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 90.6+ KB

In [ ]:
df['Title'].value_counts()

Title
Mr.          517
Miss.        182
Mrs.         125
Master.       40
Dr.            7
Rev.           6
Mlle.          2
Major.         2
Col.           2
Countess.      1
Capt.          1
Ms.            1
Sir.           1
Lady.          1
Mme.           1
Don.           1
Jonkheer.      1
Name: count, dtype: int64

In [ ]:
null_title = df[df['Title'].isnull()]
null_title

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, Title]
Index: []

In [ ]:
titles_to_replace_mr = ['Don.', 'Major.', 'Capt.', 'Jonkheer.', 'Rev.', 'Col.']
titles_to_replace_mrs = ['Countess.', 'Mme.', 'Lady.']
titles_to_replace_miss = ['Mlle.', 'Ms.']
titles_to_replace_master = ['Sir.']

In [ ]:
df['Title'] = df['Title'].replace(titles_to_replace_mr, 'Mr.')
df['Title'] = df['Title'].replace(titles_to_replace_mrs, 'Mrs.')
df['Title'] = df['Title'].replace(titles_to_replace_miss, 'Miss.')
df['Title'] = df['Title'].replace(titles_to_replace_master, 'Master.')

df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr.
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs.
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss.
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs.
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr.
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Mr.
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Miss.
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Miss.
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Mr.
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Mr.

In [ ]:
df['Title'].value_counts()

Title
Mr.        530
Miss.      185
Mrs.       128
Master.     41
Dr.          7
Name: count, dtype: int64

In [ ]:
def print_row(row):
  if row['Title'] == 'Dr.':
    print (row)

In [ ]:
df_rows = df[df['Title']== 'Dr.']
df_rows

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
245,246,0,1,"Minahan, Dr. William Edward",male,44.0,2,0,19928,90.0000,C78,Q,Dr.
317,318,0,2,"Moraweck, Dr. Ernest",male,54.0,0,0,29011,14.0000,NaN,S,Dr.
398,399,0,2,"Pain, Dr. Alfred",male,23.0,0,0,244278,10.5000,NaN,S,Dr.
632,633,1,1,"Stahelin-Maeglin, Dr. Max",male,32.0,0,0,13214,30.5000,B50,C,Dr.
660,661,1,1,"Frauenthal, Dr. Henry William",male,50.0,2,0,PC 17611,133.6500,NaN,S,Dr.
766,767,0,1,"Brewe, Dr. Arthur Jackson",male,NaN,0,0,112379,39.6000,NaN,C,Dr.
796,797,1,1,"Leader, Dr. Alice (Farnham)",female,49.0,0,0,17465,25.9292,D17,S,Dr.

In [ ]:
df_rows.replace('Dr.','Mr.')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
245,246,0,1,"Minahan, Dr. William Edward",male,44.0,2,0,19928,90.0000,C78,Q,Mr.
317,318,0,2,"Moraweck, Dr. Ernest",male,54.0,0,0,29011,14.0000,NaN,S,Mr.
398,399,0,2,"Pain, Dr. Alfred",male,23.0,0,0,244278,10.5000,NaN,S,Mr.
632,633,1,1,"Stahelin-Maeglin, Dr. Max",male,32.0,0,0,13214,30.5000,B50,C,Mr.
660,661,1,1,"Frauenthal, Dr. Henry William",male,50.0,2,0,PC 17611,133.6500,NaN,S,Mr.
766,767,0,1,"Brewe, Dr. Arthur Jackson",male,NaN,0,0,112379,39.6000,NaN,C,Mr.
796,797,1,1,"Leader, Dr. Alice (Farnham)",female,49.0,0,0,17465,25.9292,D17,S,Mr.

In [ ]:
df['Title'].replace('Dr.','Mr.')

0        Mr.
1       Mrs.
2      Miss.
3       Mrs.
4        Mr.
       ...
886      Mr.
887    Miss.
888    Miss.
889      Mr.
890      Mr.
Name: Title, Length: 891, dtype: object

In [ ]:
df=df.drop(columns=['Name','PassengerId'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Ticket    891 non-null    object
 7   Fare      891 non-null    float64
 8   Cabin     204 non-null    object
 9   Embarked  889 non-null    object
 10  Title     891 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.7+ KB

In [ ]:
df=df.drop(columns=['Ticket','Cabin'])

In [ ]:
def clean_data(df):
  df['Age'].fillna(df['Age'].mean(), inplace=True)
  df['Embarked'].fillna("U", inplace=True)
  # df['Cabin'].fillna("U", inplace=True)
  return df

df=clean_data(df)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    object
 8   Title     891 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
cols = ['Sex','Embarked','Title']
for col in cols:
  df[col] = le.fit_transform(df[col])
  print(le.classes_)
df.head()

['female' 'male']
['C' 'Q' 'S' 'U']
['Dr.' 'Master.' 'Miss.' 'Mr.' 'Mrs.']

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  Title
0         0       3    1  22.0      1      0   7.2500         2      3
1         1       1    0  38.0      1      0  71.2833         0      4
2         1       3    0  26.0      0      0   7.9250         2      2
3         1       1    0  35.0      1      0  53.1000         2      4
4         0       3    1  35.0      0      0   8.0500         2      3

In [ ]:
# [0 1] = [male , female]
# [0 1 2 3] = [C, Q, S, U]
# [0 1 2 3 4] = ['Dr.' 'Master.' 'Miss.' 'Mr.' 'Mrs.']

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

y =df['Survived']
X = df.drop(columns=['Survived'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = LogisticRegression(random_state=0, max_iter=1000)
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=0)

In [ ]:
predictions = model.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.8100558659217877

In [ ]:
test = pd.read_csv('/content/test.csv')
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [ ]:
import re
def extract_title(name):
  title_search = re.search(r'(\bMr\.|\bMrs\.|\bMiss\.|\bMaster\.|\bCol\.|\bDr\.|\bMs\.|\bMlle\.|\bMajor\.|\bRev\.|\bCapt\.|\bMme\.|\bCountess\.|\bDon\.|\bJonkheer\.|\bSir\.|\bLady\.)',name)
  if title_search:
    return title_search.group(0)
  else:
    return None

test['Title'] = test['Name'].apply(extract_title)

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
 11  Title        417 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 39.3+ KB

In [ ]:
titles_to_replace_mr = ['Don.', 'Major.', 'Capt.', 'Jonkheer.', 'Rev.', 'Col.']
titles_to_replace_mrs = ['Countess.', 'Mme.', 'Lady.']
titles_to_replace_miss = ['Mlle.', 'Ms.']
titles_to_replace_master = ['Sir.']

In [ ]:
test['Title'] = test['Title'].replace(titles_to_replace_mr, 'Mr.')
test['Title'] = test['Title'].replace(titles_to_replace_mrs, 'Mrs.')
test['Title'] = test['Title'].replace(titles_to_replace_miss, 'Miss.')
test['Title'] = test['Title'].replace(titles_to_replace_master, 'Master.')

In [ ]:
df['Title'].value_counts()

Title
3    530
2    185
4    128
1     41
0      7
Name: count, dtype: int64

In [ ]:
test.info()
test_ids = test['PassengerId']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
 11  Title        417 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 39.3+ KB

In [ ]:
test.drop(columns=['Name','PassengerId','Ticket','Cabin'], inplace=True)

In [ ]:
test.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked Title
0       3    male  34.5      0      0   7.8292        Q   Mr.
1       3  female  47.0      1      0   7.0000        S  Mrs.
2       2    male  62.0      0      0   9.6875        Q   Mr.
3       3    male  27.0      0      0   8.6625        S   Mr.
4       3  female  22.0      1      1  12.2875        S  Mrs.

In [ ]:
def clean_data(df):
  test['Age'].fillna(test['Age'].mean(), inplace=True)
  test['Embarked'].fillna("U", inplace=True)
  test['Fare'].fillna(test['Fare'].mean(), inplace=True)
  # test['Cabin'].fillna("U", inplace=True)
  return test

test=clean_data(test)

In [ ]:
test.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked Title
0       3    male  34.5      0      0   7.8292        Q   Mr.
1       3  female  47.0      1      0   7.0000        S  Mrs.
2       2    male  62.0      0      0   9.6875        Q   Mr.
3       3    male  27.0      0      0   8.6625        S   Mr.
4       3  female  22.0      1      1  12.2875        S  Mrs.

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
cols = ['Sex','Embarked','Title']
for col in cols:
  test[col] = le.fit_transform(test[col])
  print(le.classes_)
test.head()

['female' 'male']
['C' 'Q' 'S']
['Dr.' 'Master.' 'Miss.' 'Mr.' 'Mrs.' None]

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  Title
0       3    1  34.5      0      0   7.8292         1      3
1       3    0  47.0      1      0   7.0000         2      4
2       2    1  62.0      0      0   9.6875         1      3
3       3    1  27.0      0      0   8.6625         2      3
4       3    0  22.0      1      1  12.2875         2      4

In [ ]:
submission = model.predict(test)

In [ ]:
test.info()

In [ ]:
null_diff = test.isnull().sum()
null_diff

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
Title       0
dtype: int64

In [ ]:
final = pd.DataFrame({'PassengerId': test_ids.values, 'Survived': submission})

In [ ]:
final.to_csv('submission.csv', index=False)